@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Notable&display=swap");

:root {
  --secondary-clr: rgb(255, 199, 69);
  --add-btn-hover: #4ed268;

  background-color: #064948;
}

input::placeholder,
input,
button,
p {
  font-family: "Handlee", cursive;
}

.header-text {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
  font-family: "Notable", sans-serif;
  color: var(--secondary-clr);
}

.todo-list-container {
  width: 100%;
}

.todo-list-container > * {
  margin-bottom: 0.5rem;
}

.todo-list-container > *:last-child {
  margin-bottom: 0;
}

.main-container {
  display: flex;

  padding-block: 3rem;
  overflow-y: hidden;

  flex-direction: column;
  align-items: center;
}

.main-container-wrapper {
  width: 80%;

  overflow-y: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@supports (gap: 1rem) {
  .main-container-wrapper {
    gap: 1rem;
  }

  .main-container-wrapper > * {
    margin: 0;
  }
}

@supports not (gap: 1rem) {
  .main-container-wrapper > * {
    margin-bottom: 1rem;
  }

  .main-container-wrapper > * :last-child {
    margin-bottom: 0;
  }
}

.footnote {
  margin-top: 5rem;
  text-align: end;
  margin-inline-end: 3rem;
  margin-block-end: 3rem;

  opacity: 0.9;
}

.link {
  text-decoration: none;
  color: var(--secondary-clr);
  font-weight: bold;
}

.link::before {
  content: " ";
}
