@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Notable&display=swap");

:root {
  --secondary-clr: rgb(255, 199, 69);
  --add-btn-hover: #4ed268;
  --text-black-clr: rgb(5, 5, 5);

  background-color: #064948;
}

input::placeholder,
input,
button,
p {
  font-family: "Handlee", cursive;
}

.header-text {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
  font-family: "Notable", sans-serif;
  color: var(--secondary-clr);
  text-align: center;
}

.todo-list-container {
  width: 100%;
}

.todo-list-container > * {
  margin-bottom: 0.5rem;
}

.todo-list-container > *:last-child {
  margin-bottom: 0;
}

.main-container {
  display: flex;

  padding-top: 4rem;
  padding-bottom: 3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-block: 4rem 3rem;
  padding-inline: 0.5rem;

  flex-direction: column;
  align-items: center;
}

.main-container-wrapper {
  width: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@supports (display: flex) and (gap: 1rem) {
  .main-container-wrapper {
    gap: 1rem;
  }

  .main-container-wrapper > * {
    margin: 0;
  }
}

@supports not ((display: flex) and (gap: 1rem)) {
  .main-container-wrapper > * {
    display: block;
    margin-bottom: 1rem;
  }

  .main-container-wrapper > *:last-child {
    margin-bottom: 0;
  }
}

.footnote {
  margin-top: 5rem;
  text-align: center;

  opacity: 0.9;
}

.foottext {
  text-decoration: none;
  color: var(--text-black-clr);
  font-size: 0.7rem;
}

.link {
  color: var(--secondary-clr);
  font-weight: bold;
}

.footnote:hover {
  opacity: 1;
}
.empty-todo {
  background-color: #f0f8ff;
  display: grid;
  place-content: center;
  padding: 3.5rem;
  border-radius: 0.5rem;
  text-align: center;
}

.empty-todo p {
  color: rgb(40, 40, 40);
}

.bouncing-emoji {
  display: inline-block;
  animation: bounce 1s infinite ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(3px);
  }
}

@media screen and (max-width: 27rem) {
  .header-text {
    font-size: 2rem;
  }
}

@media screen and (max-width: 25rem) {
  .main-container {
    display: flex;

    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-block: 2rem;
    padding-inline: 0.5rem;

    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 22rem) {
  .header-text {
    font-size: 1.8rem;
  }
}
