.header-text {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.input-section {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  border: 1px black solid;
  border-radius: 1rem;
}

.input-field {
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 1rem;
}

.input-field:focus,
.input-field:hover {
  outline: none;
}

.add-btn {
  width: 7rem;
  background-color: palegoldenrod;
  border: none;
  border-radius: 1rem;
}

.add-btn:hover {
  cursor: pointer;
}

.todo-list-container {
  width: 100%;
}

.todo-list-container > * {
  margin-bottom: 0.5rem;
}

.todo-list-container > *:last-child {
  margin-bottom: 0;
}

.todo {
  display: flex;
  justify-content: space-between;

  padding: 1rem;
  background-color: cadetblue;
  border-radius: 0.5rem;

  width: inherit;
}

.todo-left-elems {
  display: flex;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}

.main-container {
  display: flex;
  height: 100vh;

  flex-direction: column;
  align-items: center;
}

.main-container-wrapper {
  width: 80%;

  background-color: palegoldenrod;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@supports (gap: 1rem) {
  .main-container-wrapper {
    gap: 1rem;
  }

  .main-container-wrapper > * {
    margin: 0;
  }
}

@supports not (gap: 1rem) {
  .main-container-wrapper > * {
    margin-bottom: 1rem;
  }

  .main-container-wrapper > * :last-child {
    margin-bottom: 0;
  }
}

.completed-todo {
  text-decoration: line-through;
  color: rgb(66, 66, 66);
}
