.input-section {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  border-radius: 1rem;
}

.input-field {
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 1rem;
  font-size: 1rem;
}

.input-field:focus,
.input-field:hover {
  outline: none;
}

.add-btn {
  width: 7rem;
  background-color: var(--secondary-clr);
  border: none;
  border-radius: 0 1rem 1rem 0;
  font-size: 1rem;

  font-weight: 600;
  transition:
    background-color,
    100ms ease-out;
}

.add-btn:hover {
  cursor: pointer;
  background-color: rgb(252, 183, 23);
}

.add-btn:active {
  background-color: rgb(60, 230, 111);
}

@media screen and (max-width: 27rem) {
  .input-field {
    padding: 0.8rem;
  }
}
