.todo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  background-color: rgb(11, 11, 11);
  color: rgb(220, 219, 219);
  border-radius: 0.5rem;
}

.todo-left-elems {
  display: flex;
  align-items: center;
}

.todo-left-elems p {
  overflow-wrap: anywhere;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
  accent-color: var(--secondary-clr);
  width: 1.1rem;
  height: 1.1rem;
  aspect-ratio: 1;

  border-radius: 50%;
}

input[type="checkbox"]::checkmark {
  appearance: none;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

.delete-btn-svg {
  color: rgb(234, 30, 30);
}

.delete-btn-container {
  opacity: 0.8;
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1;
  padding: 0.5rem;
  display: grid;
  place-content: center;
}

.delete-btn-container:hover {
  cursor: pointer;
  opacity: 1;
}

.completed-todo {
  text-decoration: line-through;
  color: rgb(66, 66, 66);
}

@media screen and (max-width: 27rem) {
  .todo {
    padding: 0.8rem;
  }
}
